{% extends 'base/base.html' %}

{% block content %}
<div>
  <div class="col-3">
    <h3> Usuarios</h3>
</div>
</div>
{% if ejemplares %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Dirección</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        {% for usuarios in ejemplares %}
      <tr class="table-info">
        <td>{{ usuarios.id}}</td>
        <td>{{ usuarios.nombres}}</td>
        <td>{{ usuarios.apellidos}}</td>
        <td>{{ usuarios.dirección}}</td>
        <td>{{ usuarios.teléfono}}</td>
        <td> 
            <a href="{% url 'ejemplares:usuariosEliminar' usuarios.id %}" class="btn btn-primary">eliminar</a>    
            <a href="{% url 'ejemplares:usuariosEdit' usuarios.id %}" class="btn btn-primary">editar</a>    
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}

<h1>No hay registros</h1>

{% endif %}
<div>
  <div class="col-3">
      <a href="{% url 'ejemplares:usuariosCreate' %}" class="btn btn-primary"> Adicionar</a>
  </div>
</div>

{% endblock %}